{% block content %}
    <!-- Modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Activate storage type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure that you want to activate this storage type?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form action="{{ path('admin_activate_storage_type', {'id': storage_type.id}) }}" method="post">
                        <input type="hidden" name="activateStorageType" value="true">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                </div>
{% endblock %}
