{% extends 'base.html.twig' %}

{% block title %}Currency exchange report{% endblock %}

{% block content %}
    <div class="col-md-10">
        <h1>This page is "Currency exchange report"</h1>
        <table class="table-bordered table-hover table">
            <thead class="thead-dark">
            <tr>
                <th>Currency from</th>
                <th>Currency to</th>
                <th>Rate</th>
                <th>Datetime</th>
                <th>Direction</th>
            </tr>
            </thead>
            <tbody>
            {% for currency_report in currency_reports %}
                <tr>
                    <td>{{ currency_report.from }}</td>
                    <td>{{ currency_report.to }}</td>
                    <td>{{ currency_report.rate }}</td>
                    <td>{{ currency_report.date }}</td>
                    <td>
                        <b>
                        {% if currency_report.direction=='up' %}
                            &#8599;
                        {% elseif  currency_report.direction=='down'%}
                            &#8600;
                        {% else %}
                            &#8212;
                        {% endif %}
                        </b>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}