{% block content %}
    <p>Hello, {{ name }}! Now you can log in with a new password and change it (if you want) in your profile settings. This is your new password!</p>
    <p><b>Password: </b>{{ password }}</p>
{% endblock %}

