body>.container {
    padding-top: 150px;
}
.footer {
    margin-top: 100px;
}
.nav-user_photo {
    height: 50px;
}
.nav-link {
    vertical-align: middle;
}
.profile-user_photo {
    height: 200px;
}
.custom-file-label:after {
    content: "Choose a new profile photo";
}
/*.custom-file-label { opacity: 0; }*/
/*.custom-file-input { opacity: 1; }*/